name: workflow

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - '**'
  merge_group:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Clippy
        run: cargo clippy --verbose -- -D warnings

      - name: Test
        run: cargo test --verbose 

      - name: Build
        run: cargo build --release

      - name: Publish
        if: startsWith(github.ref, 'refs/tags/')
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          version=${{ github.ref_name }}
          sed -i "s/^version = \".*\"/version = \"$version\"/" ./Cargo.toml

          cargo publish --all-features --allow-dirty
