name: workflow

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - '**'
  merge_group:
  pull_request:
    branches:
      - main

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Clippy
        run: cargo clippy --verbose -- -D warnings 

  build:
      name: Build and Test (${{ matrix.os }} - ${{ matrix.target }})
      needs: clippy
      runs-on: ${{ matrix.os }}
      strategy:
        fail-fast: false
        matrix:
          include:
            # Linux
            - os: ubuntu-latest
              target: x86_64-unknown-linux-gnu
              arch: x86_64
              platform: linux
            # macOS
            - os: macos-latest
              target: x86_64-apple-darwin
              arch: x86_64
              platform: macos
            - os: macos-latest
              target: aarch64-apple-darwin
              arch: arm64
              platform: macos
            # Windows
            - os: windows-latest
              target: x86_64-pc-windows-msvc
              arch: x86_64
              platform: windows

      steps:
        - name: Checkout repository
          uses: actions/checkout@v5
              
        - name: Set up Rust
          uses: dtolnay/rust-toolchain@stable
          with:
            targets: ${{ matrix.target }}

        - name: Cache cargo
          uses: actions/cache@v4
          with:
            path: |
              ~/.cargo/registry
              ~/.cargo/git
              target/${{ matrix.target }}
            key: ${{ runner.os }}-${{ matrix.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}
            restore-keys: ${{ runner.os }}-${{ matrix.target }}-cargo-       

        - name: Build
          run: cargo build --release --target ${{ matrix.target }}

        - name: Test
          run: cargo test --target ${{ matrix.target }}

        - name: Package binaries
          if: startsWith(github.ref, 'refs/tags/')
          shell: bash
          run: |
            mkdir -p dist
            crate="ranked-searcher"
            bin="target/${{ matrix.target }}/release/$crate"
            if [[ "${{ matrix.platform }}" == "windows" ]]; then
              bin="${bin}.exe"
              zip_name="${crate}-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}.zip"
              7z a "dist/${zip_name}" "${bin}" > /dev/null
            else
              zip_name="${crate}-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz"
              tar -czf "dist/${zip_name}" -C "$(dirname "${bin}")" "$(basename "${bin}")"
            fi

        - name: Upload artifact
          if: startsWith(github.ref, 'refs/tags/')
          uses: actions/upload-artifact@v5
          with:
            name: "ranked-searcher-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}"
            path: "dist/ranked-searcher-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.arch }}.*"
 
  gh-release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write    

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          generate_release_notes: true
          files: |
            artifacts/*/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  homebrew-release:
        if: startsWith(github.ref, 'refs/tags/')
        needs: gh-release
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repository
            uses: actions/checkout@v5

          - name: Set up variables
            id: vars
            run: |
              VERSION=${{ github.ref_name }}
              echo "VERSION=$VERSION" >> $GITHUB_ENV
              INTEL_URL="https://github.com/larscom/ranked-searcher/releases/download/$VERSION/ranked-searcher-$VERSION-macos-x86_64.tar.gz"
              ARM_URL="https://github.com/larscom/ranked-searcher/releases/download/$VERSION/ranked-searcher-$VERSION-macos-arm64.tar.gz"
              echo "INTEL_URL=$INTEL_URL" >> $GITHUB_ENV
              echo "ARM_URL=$ARM_URL" >> $GITHUB_ENV

          - name: Download release artifacts
            run: |
              curl -L -o ranked-searcher-intel.tar.gz "$INTEL_URL"
              curl -L -o ranked-searcher-arm.tar.gz "$ARM_URL"

          - name: Compute SHA256
            run: |
              SHA256_INTEL=$(sha256sum ranked-searcher-intel.tar.gz | awk '{print $1}')
              SHA256_ARM=$(sha256sum ranked-searcher-arm.tar.gz | awk '{print $1}')
              echo "SHA256_INTEL=$SHA256_INTEL" >> $GITHUB_ENV
              echo "SHA256_ARM=$SHA256_ARM" >> $GITHUB_ENV

          - name: Checkout homebrew tap
            uses: actions/checkout@v3
            with:
              repository: larscom/homebrew-tap
              token: ${{ secrets.HOMEBREW_TAP_PAT }}
              path: homebrew-tap

          - name: Update Formula from template
            run: |
              TEMPLATE="$(cat formula/template.rb)"
              FORMULA="${TEMPLATE//\{\{version\}\}/$VERSION}"
              FORMULA="${FORMULA//\{\{sha256_intel\}\}/$SHA256_INTEL}"
              FORMULA="${FORMULA//\{\{sha256_arm\}\}/$SHA256_ARM}"
              echo "$FORMULA" > homebrew-tap/Formula/ranked_searcher.rb

          - name: Commit and push
            run: |
              cd homebrew-tap
              git config user.name "github-actions[bot]"
              git config user.email "github-actions[bot]@users.noreply.github.com"
              git add Formula/ranked_searcher.rb
              git commit -m "Update ranked_searcher.rb to version $VERSION"
              git push         

  crates-io-release:
        if: startsWith(github.ref, 'refs/tags/')
        needs: build
        runs-on: ubuntu-latest
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }} 

        steps:
          - name: Checkout repository
            uses: actions/checkout@v5

          - name: Install Rust
            uses: dtolnay/rust-toolchain@stable

          - name: Publish
            run: |
              version=${{ github.ref_name }}
              sed -i "s/^version = \".*\"/version = \"$version\"/" ./Cargo.toml

              cargo publish --all-features --allow-dirty --no-verify
  